body,
input,
button,
textarea {
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  width: 100%;
}

strong {
  font-weight: 700;
}

main {
  background-color: #ebf0f8;
}

.title {
  color: #364453;
  font-family: 'PT Serif', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.875rem;
  text-align: center;
}

.subtitle {
  color: #010101;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.875rem;
  margin: 0px;
}

.triangle {
  position: relative;
}

.triangle::after {
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  border-width: 2rem 1rem 0 1rem;
  content: '';
  height: 0;
  left: 50%;
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  width: 0;
  z-index: 99;
}

.button {
  background-color: #f6694c;
  border-radius: 0.5rem;
  color: #fff !important;
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0px auto;
  max-width: 22rem;
  padding: 1rem 1.25rem;
  text-decoration: none !important;
  text-align: center;
  transition: opacity 0.3s ease;
}

.button:hover {
  opacity: 0.85;
}

.link {
  color: inherit;
  display: block;
  font-size: 1rem;
  line-height: 1.875rem;
  margin: 0px auto;
  max-width: 20rem;
  text-align: center;
  text-decoration: underline;
  transition: opacity 0.3s ease;
  width: 100%;
}

.link:hover {
  opacity: 0.7;
}

br {
  display: none;
}

.total small {
  display: block;
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: -0.5rem;
}

.total {
  font-size: 4.5rem;
  font-family: 'PT Serif';
  font-weight: 700;
  white-space: nowrap;
}

@media (max-width: 423px) {
  html {
    font-size: 94%;
  }

  section {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .container {
    padding: 0px;
  }
}

@media (min-width: 424px) {
  br {
    display: block;
  }

  .total {
    font-size: 5rem;
  }
}
