.invitation {
  padding-bottom: 2.5rem;
  padding-top: 2.25rem;
}

.invitation > * {
  margin-bottom: 0px;
  margin-top: 4rem;
}

.invitation .title {
  color: #364453;
  font-size: 1.875rem;
  line-height: 2.8125rem;
}

.invitation .invitation-text {
  color: #5e6872;
  font-size: 1.125rem;
  line-height: 1.875rem;
}

.invitation::after {
  border-top-color: #ebf0f8;
}
