.today {
  background-color: #0068ae;
  color: #fff;
  padding: 5.625rem 0.625rem;
}

.today .today-text {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
  margin: 0px;
}

.today .today-price small {
  font-size: 1.875rem;
  font-weight: 700;
}

.today .today-price {
  font-size: 5rem;
  font-family: 'PT Serif';
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 3.125rem;
  white-space: nowrap;
}

#vitalicia {
  margin-bottom: 1.5rem;
  margin-top: 3.25rem;
}

#valor span {
  color: #fe3b3b;
}

.today .credit {
  font-family: 'PT Serif', sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.625;
  margin: 2.875rem 0px;
}

.today .credit span {
  background-color: #00b87c;
  box-shadow: 0.2em 0 0 #00b87c, -0.2em 0 0 #00b87c;
}

.today hr {
  border-color: rgba(255, 255, 255, 0.2);
  max-width: 13.125rem;
}

.today .today-final-price {
  font-family: 'PT Serif', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.75rem;
  margin: 3.375rem 0px;
}

.today .today-final-price span {
  background-color: #fff;
  box-shadow: 0.2em 0 0 #fff, -0.2em 0 0 #fff;
  color: #00b87c;
}

.today .button {
  margin-bottom: 3.125rem;
  margin-top: 4.125rem;
}

.today .link {
  color: #fff;
}

.today::after {
  border-top-color: #0068ae;
}
