.prices {
  background-color: #fff;
  padding: 6.25rem 1rem;
}

.prices .title {
  font-size: 2.5rem;
  line-height: 3.75rem;
  margin: 3.125rem 0px;
}

.prices .title strong {
  color: #de0000;
}

.prices ul li + li {
  margin-top: 3.125rem;
}

.prices .price-title,
.prices .price-subtitle,
.prices .price-value {
  font-size: 1.125rem;
  margin-bottom: 0.25rem;
}

.prices .price-title {
  font-weight: 700;
}

.prices .price-subtitle {
  color: #5e6872;
  font-weight: 400;
}

.prices .price-value {
  color: #de0000;
  font-weight: 400;
  text-decoration: line-through;
}
